.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  height: 100vh;
  background: linear-gradient(180deg, #14001f, #1a002a);
}

.left {
  border-right: 1px solid #25f5ff33;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.center {
  padding: 24px;
}

.right {
  border-left: 1px solid #25f5ff33;
}

.dashboard-wrapper {
  position: relative;
  z-index: 1;
}

.stars {
  filter: drop-shadow(0 0 2px #ffffff);
}

