services:
  db:
    image: mysql:latest
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bd
      MYSQL_USER: user_spring
      MYSQL_PASSWORD: spring_password
    ports:
      - '3307:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/bd?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: user_spring
      SPRING_DATASOURCE_PASSWORD: spring_password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    networks:
      - app-network
    ports:
      - "8080:8080"
    depends_on:
      - db

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: frontend
  #   ports:
  #     - "8081:80"
  #   depends_on:
  #     - backend
  #   networks:
  #     - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
