.game-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 32px;
  border-radius: 20px;
  border: 2px solid #00ffff;
  background: rgba(0, 0, 0, 0.2);
}

.emojis span {
  font-size: 36px;
  margin: 0 6px;
}

.input-row {
  display: flex;
  gap: 12px;
}

.feedback {
  font-size: 18px;
}
